In [3]:
import pandas as pd

df = pd.read_csv("iris.csv")

df.head()

#!pip install pandas

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
import numpy as np
np.unique(df['variety'])

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

neigh = KNeighborsClassifier(n_neighbors=len(np.unique(df['y'])))

In [7]:
from pyod.models.knn import KNN
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split (df[df.columns[:4]].values.tolist(),df['y'], test_size = 0.25, random_state)

In [ ]:
clf = kNN()
clf.fit(x_train, y_train)

In [4]:
df['class'] = df['variety'].replace({"Setosa": 0, "Versicolor": 1, "Virginica": 2})

In [2]:
df.head()

NameError: name 'df' is not defined

In [26]:
df = df.dropna()

In [27]:
df = df.fillna()

In [28]:
df = df.drop_duplicates()

In [29]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width       class
count    149.000000   149.000000    149.000000   149.000000  149.000000
mean       5.843624     3.059732      3.748993     1.194631    0.993289
std        0.830851     0.436342      1.767791     0.762622    0.817847
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.300000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  149 non-null    float64
 3   petal.width   149 non-null    float64
 4   variety       149 non-null    object
 5   class         149 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 8.1+ KB

In [33]:
df['x'] = df[df.columns[:4]].values.tolist()
df['x']

0      [5.1, 3.5, 1.4, 0.2]
1      [4.9, 3.0, 1.4, 0.2]
2      [4.7, 3.2, 1.3, 0.2]
3      [4.6, 3.1, 1.5, 0.2]
4      [5.0, 3.6, 1.4, 0.2]
               ...
145    [6.7, 3.0, 5.2, 2.3]
146    [6.3, 2.5, 5.0, 1.9]
147    [6.5, 3.0, 5.2, 2.0]
148    [6.2, 3.4, 5.4, 2.3]
149    [5.9, 3.0, 5.1, 1.8]
Name: x, Length: 149, dtype: object

In [34]:
df['y'] = df['class'].apply(lambda x: x+1)
df['y']

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: y, Length: 149, dtype: int64

In [35]:
df.describe()

,sepal.length,sepal.width,petal.length,petal.width,class,y
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.843624,3.059732,3.748993,1.194631,0.993289,1.993289
std,0.830851,0.436342,1.767791,0.762622,0.817847,0.817847
min,4.300000,2.000000,1.000000,0.100000,0.000000,1.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000,1.000000
50%,5.800000,3.000000,4.300000,1.300000,1.000000,2.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000,3.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000,3.000000

In [36]:
df.to_csv("iris_ok.csv", index=False)